@import url("https://fonts.googleapis.com/css2?family=Noto+Sans:wght@100;400;700&display=swap");
* {
  margin: 0;
  padding: 0;
  border: 0;
  box-sizing: border-box;
}

body {
  font-family: "Noto Sans", sans-serif;
}

.header {
  background-color: #0062fe;
  display: flex;
  justify-content: space-between;
}
.header .site-logo {
  display: flex;
  margin: auto 0;
}
.header .image-link {
  display: flex;
}
.header .image-link .site-image {
  width: 32px;
  height: 32px;
  margin: 10px;
  border-radius: 100%;
}
.header .site-text {
  margin: auto 0;
  color: white;
  text-decoration: none;
  font-weight: 700;
}
.header .nav-bar {
  display: flex;
  margin: auto 0;
  list-style-type: none;
}
.header .nav-bar a {
  color: white;
  margin: 10px;
  text-decoration: none;
}
.header .nav-container {
  display: flex;
  margin: auto 0;
}

@media only screen and (max-width: 500px) {
  .header {
    justify-content: none;
  }
  .nav-bar {
    flex-direction: column;
  }
}
.hero-section {
  background: #180b00;
  display: flex;
  flex-direction: column;
}
.hero-section .hero-img {
  margin: 20px auto;
  width: 70%;
}
.hero-section .hero-text {
  text-align: center;
  margin-bottom: 20px;
  padding: 3%;
  color: white;
}
.hero-section .contact-button {
  background-color: #0062fe;
  color: white;
  padding: 10px;
  margin: 5px;
  border: 2px solid black;
}
.hero-section .download-cv {
  background-color: white;
  color: black;
  padding: 10px;
  margin: 5px;
  border: 2px solid black;
}

@media only screen and (min-width: 800px) {
  .hero-section {
    flex-direction: row;
    justify-content: space-evenly;
  }
  .hero-section .hero-text {
    margin: auto 2%;
    text-align: left;
  }
  .hero-section .hero-img {
    margin: 2%;
    width: 450px;
    height: 450px;
  }
}
.about-section {
  display: flex;
  flex-direction: column;
}
.about-section .about-text {
  padding: 5%;
  text-align: center;
}
.about-section .about-text .about-button {
  background-color: #0062fe;
  color: white;
  padding: 10px;
  margin: 5px 0;
  border: 2px solid black;
}
.about-section .about-img {
  width: 70%;
  height: 70%;
  margin: auto;
}

@media only screen and (min-width: 800px) {
  .about-section {
    flex-direction: row;
    justify-content: space-between;
  }
  .about-section .about-text {
    margin: auto 2%;
    text-align: left;
  }
  .about-section .about-img {
    margin: 2%;
    margin-right: 5%;
    width: 450px;
    height: 450px;
  }
}
.qualities-section {
  display: flex;
  flex-direction: column;
}
.qualities-section .quality-item {
  text-align: center;
  padding: 5%;
}
.qualities-section .quality-item .quality-icon {
  width: 32px;
  height: 32px;
}

@media only screen and (min-width: 700px) {
  .qualities-section {
    flex-direction: row;
  }
}
.expertise-section {
  display: flex;
  flex-direction: column;
  text-align: center;
  padding: 5%;
}
.expertise-section .progress-bars p {
  text-align: left;
}
.expertise-section .progress-bars .progress-bar-1 {
  background-color: #ffd59e;
  height: 20px;
  width: 100%;
}
.expertise-section .progress-bars .progress-bar-1 .progress-1 {
  background-color: #ff9100;
  height: 20px;
  width: 70%;
}
.expertise-section .progress-bars .progress-bar-2 {
  background-color: #95e999;
  height: 20px;
  width: 100%;
}
.expertise-section .progress-bars .progress-bar-2 .progress-2 {
  background-color: #00a61c;
  height: 20px;
  width: 60%;
}
.expertise-section .progress-bars .progress-bar-3 {
  background-color: #fff99e;
  height: 20px;
  width: 100%;
}
.expertise-section .progress-bars .progress-bar-3 .progress-3 {
  background-color: #ffea00;
  height: 20px;
  width: 50%;
}

@media only screen and (min-width: 700px) {
  .expertise-content {
    display: flex;
    flex-direction: row;
    padding-top: 2%;
  }
  .expertise-content .text-block {
    padding-top: 2%;
  }
  .expertise-content .progress-bars {
    margin: 3%;
  }
  .expertise-content .progress-bars .progress-bar-1 {
    width: 40vw;
  }
  .expertise-content .progress-bars .progress-bar-2 {
    width: 40vw;
  }
  .expertise-content .progress-bars .progress-bar-3 {
    width: 40vw;
  }
}
.employment-section {
  display: flex;
  padding: 3%;
  flex-direction: column;
  text-align: center;
}
.employment-section .employment-boxes {
  text-align: left;
  flex-direction: row;
}
.employment-section .employment-boxes .employment-box {
  background-color: #0062fe;
  margin: 3%;
  padding: 3%;
  color: white;
}

@media only screen and (min-width: 700px) {
  .employment-section .employment-boxes {
    display: flex;
    flex-direction: row;
  }
  .employment-section .employment-boxes .employment-box {
    width: 45%;
  }
}
.posts-section {
  text-align: center;
  padding: 5%;
}
.posts-section .blog-cards {
  display: flex;
  flex-direction: column;
}
.posts-section .blog-cards .blog-card {
  border: 2px solid black;
  margin: 3%;
  padding: 2%;
}
.posts-section .blog-cards .blog-card .blog-card-image {
  width: 100%;
}
.posts-section .blog-cards .blog-card .view-post-button {
  background-color: #0062fe;
  color: white;
  padding: 10px;
  margin: 5px;
  border: 2px solid black;
}

.button-container {
  display: flex;
  justify-content: center;
  margin-bottom: 4%;
}
.button-container .blog-button {
  background-color: #0062fe;
  color: white;
  padding: 10px;
  margin: 5px;
  border: 2px solid black;
}

@media only screen and (min-width: 700px) {
  .posts-section .blog-cards {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
  }
  .posts-section .blog-cards .blog-card .blog-card-image {
    width: 20vw;
  }
}
.newsletter-section {
  display: flex;
  padding: 5%;
  margin-bottom: 8vh;
  flex-direction: column;
  text-align: center;
}
.newsletter-section .newsletter-form {
  margin-top: 2%;
}
.newsletter-section .newsletter-form .newsletter-input {
  padding: 5px;
  border: 1px solid black;
}
.newsletter-section .newsletter-form .submit-button {
  background-color: #0062fe;
  color: white;
  padding: 5px;
  border: 2px solid black;
}

.footer {
  background-color: #0062fe;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.footer .site-logo {
  display: flex;
  margin: auto 0;
}
.footer .site-image {
  width: 32px;
  height: 32px;
  margin: 10px;
}
.footer .image-link {
  display: flex;
}
.footer .image-link .site-image {
  width: 32px;
  height: 32px;
  margin: 10px;
  border-radius: 100%;
}
.footer .site-text {
  margin: auto 0;
  color: white;
  text-decoration: none;
  font-weight: 700;
}
.footer .nav-bar {
  display: flex;
  margin: auto 0;
  list-style-type: none;
  flex-direction: column;
}
.footer .nav-bar a {
  color: white;
  margin: 10px;
  text-decoration: none;
}
.footer .nav-container {
  display: flex;
  margin: auto 0;
  text-align: center;
  margin-bottom: 2%;
}
.footer .socials {
  display: flex;
  flex-direction: row;
  list-style-type: none;
  margin: auto 5px;
}
.footer .socials .socials-image {
  width: 24px;
  height: 24px;
  margin: 5px;
}

@media only screen and (min-width: 800px) {
  .footer {
    flex-direction: row;
    justify-content: space-between;
  }
  .footer .nav-containter {
    margin: auto;
  }
  .footer .nav-bar {
    flex-direction: row;
    margin-top: 8%;
  }
}
.long-posts-section {
  text-align: center;
  padding: 5%;
}
.long-posts-section .blog-cards {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
}
.long-posts-section .blog-cards .blog-card {
  border: 2px solid black;
  margin: 3%;
  padding: 2%;
}
.long-posts-section .blog-cards .blog-card .blog-card-image {
  width: 100%;
}
.long-posts-section .blog-cards .blog-card .view-post-button {
  background-color: #0062fe;
  color: white;
  padding: 10px;
  margin: 5px;
  border: 2px solid black;
}
.long-posts-section .blog-button {
  background-color: #0062fe;
  color: white;
  padding: 10px;
  margin: 5px;
  border: 2px solid black;
}

@media only screen and (min-width: 500px) {
  .long-posts-section .blog-cards {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }
  .long-posts-section .blog-cards .blog-card {
    width: 35vw;
  }
  .long-posts-section .blog-cards .blog-card .blog-card-image {
    width: 28vw;
  }
}
@media only screen and (min-width: 700px) {
  .long-posts-section .blog-cards {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }
  .long-posts-section .blog-cards .blog-card {
    width: 22vw;
  }
  .long-posts-section .blog-cards .blog-card .blog-card-image {
    width: 18vw;
  }
}
.blog-post {
  display: flex;
  flex-direction: column;
  text-align: center;
  margin: 5%;
}
.blog-post .blog-image {
  margin: 4%;
}

.blog-button {
  background-color: #0062fe;
  color: white;
  padding: 10px;
  margin: 5px;
  border: 2px solid black;
  display: flex;
  justify-content: space-between;
  margin-bottom: 5%;
}

.socials {
  display: flex;
  flex-direction: row;
  list-style-type: none;
  margin: auto;
}
.socials .socials-image {
  width: 32px;
  height: 32px;
  margin: 5px;
}

.contact-page {
  text-align: center;
  margin: 4%;
}
.contact-page .contact-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 3%;
}
.contact-page .contact-container .contact-items {
  display: flex;
  flex-direction: column;
}
.contact-page .contact-container .contact-items .contact-item {
  display: flex;
  flex-direction: row;
  margin: 4%;
}
.contact-page .contact-container .contact-items .contact-item .contact-item-image {
  width: 40px;
  height: 40px;
  margin: 4%;
}
.contact-page .contact-container .contact-items .contact-item .contact-text {
  display: flex;
  flex-direction: column;
  text-align: left;
}
.contact-page .contact-container .contact-form {
  display: flex;
  flex-direction: column;
  width: 80%;
  margin-top: 4%;
}
.contact-page .contact-container .contact-form .name-input {
  padding: 5px;
  border: 1px solid black;
}
.contact-page .contact-container .contact-form .email-input {
  padding: 5px;
  border: 1px solid black;
}
.contact-page .contact-container .contact-form .message-input {
  padding: 5px;
  border: 1px solid black;
  height: 150px;
}
.contact-page .contact-container .contact-form .submit-button {
  background-color: #0062fe;
  color: white;
  padding: 5px;
  border: 2px solid black;
}

@media only screen and (min-width: 700px) {
  .contact-page .contact-container {
    flex-direction: row;
    justify-content: space-around;
  }
  .contact-page .contact-container .contact-form {
    width: 40%;
    margin-top: 0%;
  }
  .socials {
    margin: 0;
  }
}/*# sourceMappingURL=style.css.map */