$primary: #0062fe;
$secondary: white;
$tertiary: black;
$quaternary: yellow;

@import "styles/default";
@import "styles/fonts";
@import "styles/header";
@import "styles/hero-section";
@import "styles/about-section";
@import "styles/qualities-section";
@import "styles/expertise-section";
@import "styles/employment-section";
@import "styles/blogposts-section";
@import "styles/newsletter-section";
@import "styles/footer";
@import "styles/longblog-section";
@import "styles/blog-post";
@import "styles/contact-page";