.header {
    background-color: $primary;
    display: flex;
    justify-content: space-between;

    .site-logo {
        display: flex;
        margin: auto 0;

    }

    
    .image-link {
        display: flex;
        .site-image {
            width: 32px;
            height: 32px;
            margin: 10px;
            border-radius: 100%;
        }
    }
    .site-text {
        margin: auto 0;
        color: $secondary;
        text-decoration: none;
        font-weight: 700;
    }

    .nav-bar {
        display: flex;
        margin: auto 0;
        list-style-type: none;
        
        
        
        a {
            color: white;
            margin: 10px;
            text-decoration: none
            
        }

        a:hover {
            border-bottom: 3px solid white;
            transition: 0.3s;
        }
        
    }

    .nav-container {
        display: flex;
        margin: auto 0;
        
    }


}

@media only screen and (max-width: 500px) {
    .header {
        justify-content: none;
    }
    .nav-bar {
        flex-direction:column;
    }
}