.long-posts-section { 
    text-align: center;
    padding: 5%;
    

    .blog-cards {
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
        .blog-card {
            border: 2px solid black;
            margin: 3%; 
            padding: 2%;

            .blog-card-image {
                width:100%;
            }

            .view-post-button {
                background-color: $primary;
                color: $secondary;
                padding: 10px;
                margin:5px;
                border: 2px solid black;
            }

            .view-post-button:hover {
                background-color: $quaternary;
                color: black;
                transition: 0.5s;
            }

        }
    }

    .blog-button {
        background-color: $primary;
        color: $secondary;
        padding: 10px;
        margin:5px;
        border: 2px solid black;
    }
    .blog-button:hover {
        background-color: $quaternary;
        color: black;
        transition: 0.5s;
    }
    
}


@media only screen and (min-width: 500px) {
    .long-posts-section {

        .blog-cards {
            display: flex;
            flex-direction: row;
            justify-content:space-between;

            .blog-card {
                width: 35vw;
                .blog-card-image {
                    width:28vw;
                }
            }
        }

    }
}

@media only screen and (min-width: 700px) {
    .long-posts-section {

        .blog-cards {
            display: flex;
            flex-direction: row;
            justify-content:space-between;

            .blog-card {
                width: 22vw;
                .blog-card-image {
                    width:18vw;
                }
            }
        }

    }
}