.qualities-section {
    display: flex;
    flex-direction:column; 

    .quality-item {
        text-align:center; 
        padding: 5%;

        .quality-icon {
            width:32px;
            height: 32px; 
        }
    }
}

@media only screen and (min-width: 700px) {
    .qualities-section {
        flex-direction: row;
    }
}